@import "abstracts/couleursTheme";
@import "base/polices";

@import "composants/boite";
@import "composants/bouton";
@import "composants/conteneurDateHeure";
@import "composants/conteneurSection";
@import "composants/indicateur_max_chars";
@import "composants/select";
@import "composants/modal";
@import "composants/texteDepliant";
@import "composants/acceptOrDenyComp";
@import "composants/toolTip";
@import "composants/questionCompact";
@import "composants/userTooltip";
@import "composants/propositionCompact";
@import "composants/details";

@import "layout/menu";
@import "layout/panel";
@import "layout/panel2";
@import "layout/forms";
@import "layout/roles_input";
@import "layout/sections_input";
@import "layout/comptes";
@import "layout/markdown";

@import "pages/listeDemandesQuestion";
@import "pages/message";
@import "pages/ecrireProposition";
@import "pages/gererCoAuteurs";
@import "pages/listeMesQuestions";
@import "pages/afficherPropositions";
@import "pages/afficherResultats";
@import "pages/listeQuestionsFinies";
@import "pages/afficherProfil";
@import "pages/listeQuestions";
@import "pages/afficherQuestion";

@import "utils/textes";
@import "utils/unselectable";
@import "utils/inputAutofill";
@import "utils/no-scroll";

html, body {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: $couleurFond;
  font-family: Raleway, serif;
  background-image: url("../assets/images/greek_logo_fond.png");
  background-size: 30%;
}