@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.boite {
  border: solid 3px #E1603C;
  background-color: #353535;
  padding: 10px;
}

input[type=button],
input[type=submit],
button,
.button {
  text-decoration: none;
  font-size: 1rem;
  background-color: #E1603C;
  border: none;
  border-radius: 4px;
  padding: 8px 25px;
  color: white;
  margin: 15px 0;
}
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover {
  background-color: #B1482C;
  cursor: pointer;
}
input[type=button]:disabled,
input[type=submit]:disabled,
button:disabled,
.button:disabled {
  background-color: #B1482C;
  cursor: default;
}
input[type=button].validerBtn,
input[type=submit].validerBtn,
button.validerBtn,
.button.validerBtn {
  background-color: #09B44D;
}
input[type=button].validerBtn:hover,
input[type=submit].validerBtn:hover,
button.validerBtn:hover,
.button.validerBtn:hover {
  background-color: #069840;
}
input[type=button].validerBtn:disabled,
input[type=submit].validerBtn:disabled,
button.validerBtn:disabled,
.button.validerBtn:disabled {
  background-color: #069840;
}
input[type=button].refuserBtn,
input[type=submit].refuserBtn,
button.refuserBtn,
.button.refuserBtn {
  background-color: #E43C0E;
}
input[type=button].refuserBtn:hover,
input[type=submit].refuserBtn:hover,
button.refuserBtn:hover,
.button.refuserBtn:hover {
  background-color: #c2320b;
}
input[type=button].refuserBtn:disabled,
input[type=submit].refuserBtn:disabled,
button.refuserBtn:disabled,
.button.refuserBtn:disabled {
  background-color: #c2320b;
}
input[type=button].supprimerBtn,
input[type=submit].supprimerBtn,
button.supprimerBtn,
.button.supprimerBtn {
  border: solid;
  border-width: 3px;
  border-color: #FF2727;
  background-color: #181818;
}
input[type=button].supprimerBtn:hover,
input[type=submit].supprimerBtn:hover,
button.supprimerBtn:hover,
.button.supprimerBtn:hover {
  background-color: #2b2b2b;
}

.conteneurDateHeure {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
}
.conteneurDateHeure div {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5px 0;
}
.conteneurDateHeure div span {
  display: flex;
  align-items: center;
}
.conteneurDateHeure input {
  height: 20px;
  margin: 2.5px 10px;
}
.conteneurDateHeure input[type=date] {
  width: 120px;
}
.conteneurDateHeure input[type=time] {
  width: 80px;
}
.conteneurDateHeure div:last-child input[type=date] {
  margin-left: 13px;
}

.conteneur_section {
  padding: 0 20px 20px;
  border: #353535 1px solid;
}
.conteneur_section div {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conteneur_section label {
  display: block;
  font-size: 1em;
  margin: 4px 0;
}
.conteneur_section .remove_section {
  padding: 3px 6px;
}
.conteneur_section textarea {
  resize: none;
}
.conteneur_section input[type=text] {
  width: calc(100% - 14px);
}

.text_input_div {
  position: relative;
  text-align: center;
}

.indicateur_max_chars {
  font-size: 0.8rem;
  position: absolute;
  bottom: -16px;
  right: 0;
  color: rgb(168, 168, 168);
}

select {
  background-color: #353535;
  color: white;
  padding: 5px;
  border: #E1603C 2px solid;
  outline: none;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  z-index: 2000;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(calc(50vh - 55%));
}
@media screen and (max-height: 750px) {
  .modal-content {
    transform: translateY(0);
  }
}
.modal-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal-fit {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.modal-fit input:not([type=submit]) {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  color: white;
}
.modal-close img {
  width: 20px;
  height: 20px;
}

.texteDepliantTrigger {
  display: none;
}
.texteDepliantTrigger:not(:checked) + div img {
  transform: rotate(180deg);
}
.texteDepliantTrigger:not(:checked) + div + p {
  display: none;
}
.texteDepliantTrigger + div {
  display: flex;
  align-items: center;
}
.texteDepliantTrigger + div label {
  margin: 0;
}
.texteDepliantTrigger + div img {
  transition: transform 150ms ease-in-out;
  cursor: pointer;
  margin: 0 10px;
  height: 13px;
}

/* STRUCTURE:

  input
  div
    label
      img (flèche)
  texte à cacher/afficher
*/
.acceptOrDeny {
  width: 100%;
  margin: 10px 0;
}
.acceptOrDeny .boite:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.acceptOrDeny .boite:first-child {
  width: calc(100% - 26px);
}
.acceptOrDeny .button {
  margin: 5px;
  width: calc(100% - 60px);
}

@media screen and (min-width: 500px) {
  .acceptOrDeny {
    display: flex;
  }
  .acceptOrDeny .boite:last-child {
    border-left: 0;
  }
}
@media screen and (max-width: 499px) {
  .acceptOrDeny .boite:last-child {
    border-top: 0;
    width: calc(100% - 26px);
  }
}
.tooltip {
  position: relative;
  top: 5px;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.tooltip .tooltipImage {
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
}

.tooltip .tooltiptext {
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  width: 240px;
  background-color: #b4b4b4;
  color: #000;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 20px;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.question-compact {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  border: solid 3px #E1603C;
  border-radius: 10px;
  padding: 20px;
  width: calc(100% - 40px);
  height: 250px;
}
.question-compact .question-compact__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.question-compact .question-compact__top a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  word-break: break-all;
}
.question-compact .question-compact__top a:hover {
  text-decoration: underline;
}
.question-compact .question-compact__top .question-compact__top__pfp {
  position: relative;
}
.question-compact .question-compact__top .question-compact__top__pfp img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1px black;
}
.question-compact .question-compact__top .question-compact__top__pfp .pfp--self {
  border: solid 2px #FF2727;
}
.question-compact .question-compact__description {
  font-size: 1.1rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}
.question-compact .question-compact__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  color: #838383;
}

.user-tooltip {
  position: relative;
}
.user-tooltip .user-tooltip__text {
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #b4b4b4;
  color: #000;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}
.user-tooltip .user-tooltip__text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #b4b4b4 transparent transparent transparent;
}
.user-tooltip:hover .user-tooltip__text {
  visibility: visible;
  opacity: 1;
}

.proposition-compact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #252525;
  border: solid 3px #a8a8a8;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% - 20px);
}
.proposition-compact .proposition-compact__pfp img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1px black;
}
.proposition-compact .proposition-compact__pfp img.pfp--self {
  border: solid 2px #FF2727;
}
.proposition-compact a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
.proposition-compact a:hover {
  text-decoration: underline;
}

details summary {
  list-style-type: none;
}
details summary::marker {
  display: none;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::after {
  content: url("../assets/images/arrow.svg");
  display: inline-block;
  transform: rotate(-90deg) scale(0.8);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

details[open] summary::after {
  transform: rotate(0deg) scale(0.8);
}

header {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  align-items: center;
}
header input[type=checkbox] {
  display: none !important;
}
header nav {
  position: relative;
  width: 55%;
  height: 50px;
  border: solid black 1px;
  border-radius: 10px;
}
header nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: stretch;
}
header nav ul li {
  background-color: #E1603C;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
header nav ul li:not(:nth-last-child(0)) {
  border-right: solid black 1px;
}
header nav ul li:hover {
  background-color: #B1482C;
}
header nav ul li a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.1em;
}
header nav ul li:first-child {
  border-radius: 10px 0 0 10px;
}
header nav ul li:nth-child(4) {
  border-radius: 0 10px 10px 0;
}
header nav #activeMenu {
  background-color: #B1482C;
}
header nav #activeMenu a {
  cursor: default;
}
header #mobileMenu {
  display: none;
  z-index: 1;
}
@media screen and (max-width: 650px) {
  header {
    margin-bottom: 90px;
  }
  header #mobileMenu {
    height: 45px;
    width: 100%;
    background-color: #E1603C;
    display: flex;
    position: fixed;
    top: 0;
  }
  header #mobileMenu #pfpMobile {
    display: flex;
    position: absolute;
    top: 3px;
    right: 20px;
    align-items: center;
  }
  header #mobileMenu #pfpMobile label:first-of-type {
    background-color: #2a2a2a;
    border: solid #2a2a2a;
    border-width: 2px 15px;
    border-radius: 5px;
    margin-right: -6px;
  }
  header #mobileMenu #pfpMobile label {
    margin: 0;
    font-size: 1.1em;
    display: flex;
    align-items: center;
  }
  header #mobileMenu #pfpMobile img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: solid #2a2a2a 3px;
  }
  header #mobileMenu #fleches {
    background-color: #2a2a2a;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    width: 15px;
  }
  header #mobileMenu #barreMenu {
    margin: 0;
    background-color: #2a2a2a;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 3;
  }
  header #mobileMenu #barreMenu img {
    height: 30px;
  }
  header nav, header .menu_compte {
    z-index: 1000;
    display: none;
    height: auto;
    margin: 0;
    position: fixed;
    width: calc(100% - 105px);
    max-width: 250px;
    border: none;
    border-radius: 0;
    top: 45px;
    left: 0;
    background-color: transparent;
    overflow: hidden;
  }
  header nav ul, header .menu_compte ul {
    background-color: #2a2a2a;
    flex-direction: column;
    padding-bottom: 5px;
  }
  header nav ul li, header .menu_compte ul li {
    padding: 0;
    border: none !important;
    border-radius: 0;
    background-color: transparent;
  }
  header nav ul li:first-child, header nav ul li:last-child, header .menu_compte ul li:first-child, header .menu_compte ul li:last-child {
    border-radius: 0;
  }
  header nav ul li a, header .menu_compte ul li a {
    height: calc(1.1em + 20px);
  }
  header nav div, header .menu_compte div {
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 100%;
    height: 30px;
    background-color: #2a2a2a;
  }
  header #mobileOpen:checked + #mobileMenu label {
    width: calc(100% - 30px);
  }
  header #mobileOpen:checked + #mobileMenu + nav {
    display: block;
  }
}

.menu_compte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_compte label {
  background: #E1603C;
  border: solid #E1603C;
  border-width: 2px 15px;
  border-radius: 5px;
  font-size: 1em;
  margin-top: -10px;
  cursor: pointer;
}
.menu_compte .bouton_ouvrir_compte {
  display: flex;
  content: "";
  width: 46px;
  height: 46px;
  background-color: #E1603C;
  border: solid #E1603C 3px;
  border-radius: 50%;
}
.menu_compte .bouton_ouvrir_compte img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .menu_compte .bouton_ouvrir_compte {
    display: none;
  }
}
.menu_compte ul {
  display: none;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.menu_compte:focus-within {
  display: flex;
  flex-direction: column;
}
.menu_compte:focus-within .bouton_ouvrir_compte, .menu_compte:focus-within label {
  background-color: #B1482C;
  border-color: #B1482C;
}
.menu_compte:focus-within label + ul {
  top: 80px;
}
.menu_compte:focus-within ul {
  display: flex;
  opacity: 1;
  flex-direction: column;
  position: absolute;
  top: 67px;
  width: 175px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  z-index: 1000;
}
.menu_compte:focus-within ul li {
  display: flex;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #E1603C;
  border-bottom: solid #1B1B1B 2px;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.menu_compte:focus-within ul li a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: calc(1.1em + 20px);
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
}
.menu_compte:focus-within ul li:hover {
  background-color: #B1482C;
}
.menu_compte:focus-within ul li:first-child {
  border-radius: 10px 10px 0 0;
}
.menu_compte:focus-within ul li:last-child {
  border-radius: 0 0 10px 10px;
}
.menu_compte:focus-within ul::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 91px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #E1603C transparent;
}

.onlyOnMobile {
  display: none;
}
@media screen and (max-width: 650px) {
  .onlyOnMobile {
    display: block;
  }
}

.panel {
  background: linear-gradient(145deg, #212121, #1c1c1c);
  width: 80%;
  margin: 35px auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 3px #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel > h1, .panel .title {
  align-self: flex-start;
  margin-left: 5%;
}

.panel2 {
  background-color: #353535;
  border-radius: 10px;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0;
}
fieldset > textarea,
fieldset input[type=text] {
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  fieldset {
    width: 90%;
  }
}

input,
textarea {
  outline: none;
  background-color: #353535;
  border: solid 2px #E1603C;
  padding: 5px;
  font-size: 1rem;
}

textarea,
input[type=text],
input[type=email],
input[type=password] {
  background-color: #353535;
  width: calc(100% - 14px);
  resize: vertical;
  border: solid 2px #E1603C;
  padding: 5px;
  font-size: 1rem;
}

textarea {
  min-height: 6rem;
}

label, .label {
  margin-top: 20px;
  font-size: 1.5em;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

input[type=time]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"> <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" fill="white"></path> <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" fill="white"></path> </svg>');
}

input[type=radio], input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #252525;
  margin: 0;
  font: inherit;
  color: #E1603C;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #E1603C;
  display: inline-grid;
  place-content: center;
  cursor: pointer;
}
input[type=radio]::before, input[type=checkbox]::before {
  content: "";
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}
input[type=radio]:checked::before, input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=radio] {
  border-radius: 50%;
}
input[type=radio]::before {
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  box-shadow: inset 1em 1em #E1603C;
}
input[type=radio]:checked::before {
  transform: scale(1);
}

input[type=checkbox]::before {
  width: 1em;
  height: 1em;
  background-image: url("../assets/images/tickCheckbox.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #E1603C;
}
input[type=checkbox]:checked::before {
  transform: scale(1);
}

#roles_input {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  margin-bottom: 50px;
  gap: 10%;
}
#roles_input #votants_input,
#roles_input #redacteurs_input {
  display: flex;
  flex-direction: column;
}
#roles_input #votants_input #remove_redacteur,
#roles_input #votants_input #remove_votant,
#roles_input #redacteurs_input #remove_redacteur,
#roles_input #redacteurs_input #remove_votant {
  margin-top: 7px;
}
#roles_input #votants_input #add_redacteur,
#roles_input #votants_input #add_votant,
#roles_input #redacteurs_input #add_redacteur,
#roles_input #redacteurs_input #add_votant {
  align-self: center;
}
#roles_input #votants_input select,
#roles_input #redacteurs_input select {
  /*max-width: 200px;*/
  width: calc(80% - 60px);
}
#roles_input #votants_input button,
#roles_input #redacteurs_input button {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 5px;
}
@media screen and (max-width: 1000px) {
  #roles_input #votants_input,
  #roles_input #redacteurs_input {
    width: 100%;
    margin-left: 0;
  }
  #roles_input #votants_input select,
  #roles_input #redacteurs_input select {
    width: calc(100% - 60px);
  }
}
#roles_input .conteneur_redacteur,
#roles_input .conteneur_votant {
  padding: 0;
}
@media screen and (max-width: 1000px) {
  #roles_input {
    flex-direction: column;
  }
}

#co_auteurs_input {
  display: flex;
  flex-direction: column;
}
#co_auteurs_input #remove_redacteur,
#co_auteurs_input #remove_votant {
  margin-top: 7px;
}
#co_auteurs_input #add_redacteur,
#co_auteurs_input #add_votant {
  margin-left: 65px;
}
#co_auteurs_input button {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 5px;
}

#sections_input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
#sections_input #add_section {
  height: 60px;
  width: 60px;
  padding: 0;
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  text-align: center;
}
@media screen and (max-width: 1200px) and (min-width: 801px) {
  #sections_input {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) and (min-width: 581px) {
  #sections_input {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 580px) {
  #sections_input {
    grid-template-columns: 2fr;
  }
}

.comptePanel {
  padding: 0 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.comptePanel div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}
.comptePanel div label {
  align-self: flex-start;
  margin-bottom: 4px;
}
.comptePanel div input[type=text],
.comptePanel div input[type=password],
.comptePanel div input[type=email] {
  background: none;
  margin: 0;
  width: calc(100% - 14px);
}
.comptePanel div input[type=submit] {
  margin-top: 20px;
}
.comptePanel .password-label {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
.comptePanel .password-label .tooltip {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  color: #E1603C;
  margin: 20px 0 0 0;
}
.markdown h1 {
  font-size: 1.5em;
}
.markdown h2 {
  font-size: 1.4em;
}
.markdown h3 {
  font-size: 1.3em;
}
.markdown h4 {
  font-size: 1.2em;
}
.markdown h5 {
  font-size: 1.1em;
}
.markdown h6 {
  font-size: 1em;
}
.markdown ul {
  margin: 10px 0;
}
.markdown p {
  text-align: justify;
}
.markdown a {
  color: #08D1EC;
  -webkit-text-decoration-color: #08D1EC;
          text-decoration-color: #08D1EC;
}

#messagesFlash {
  /* positionnement */
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;
}

.message, .errorMessage {
  /* style */
  background-color: #808080;
  border: 2px solid #676767;
  border-radius: 7px;
  padding: 10px 20px;
  margin: 5px 0;
  box-shadow: 4px 4px 10px black;
  /* animation */
  -webkit-animation: disappear 500ms forwards;
          animation: disappear 500ms forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.errorMessage {
  background-color: #c2320b;
  border-color: #922608;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#ecrirePropositionForm .sectionTitle {
  margin-top: 25px;
}
#ecrirePropositionForm .sectionTitle h2 {
  margin: 0;
  font-weight: normal;
}
#ecrirePropositionForm details .titre-section {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 5px 0;
}
#ecrirePropositionForm details .description-section p {
  margin: 5px 0;
  text-align: justify;
  background-color: #353535;
  padding: 10px;
  border-radius: 10px;
}

#gererCoAuteursForm #co_auteurs_input select {
  width: calc(100% - 55px);
}
#gererCoAuteursForm #co_auteurs_input select + button {
  margin-right: 0;
}
#gererCoAuteursForm #co_auteurs_input #add_co_auteur {
  grid-column: span 2;
  margin: 20px auto 0 auto;
}
#gererCoAuteursForm #co_auteurs_input .conteneur_co_auteur {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  #gererCoAuteursForm #co_auteurs_input {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #gererCoAuteursForm #co_auteurs_input .conteneur_co_auteur select {
    width: calc(100% - 80px);
  }
  #gererCoAuteursForm #co_auteurs_input .conteneur_co_auteur:nth-child(2n) {
    justify-self: end;
  }
  #gererCoAuteursForm #co_auteurs_input .conteneur_co_auteur:nth-child(2n) select {
    margin-left: 25px;
  }
}

#listeMesQuestions .question {
  text-align: justify;
  width: 100%;
  margin: 10px 0;
}
#listeMesQuestions .question .boite {
  min-height: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: calc(100% - 26px);
}
#listeMesQuestions .question .boite div:first-child {
  width: 80%;
}
#listeMesQuestions .question .boite div:first-child p {
  margin: 0;
}
#listeMesQuestions .question .boite div:last-child {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#listeMesQuestions .question .boite div:last-child .button,
#listeMesQuestions .question .boite div:last-child button {
  margin: 0;
}
#listeMesQuestions .modal-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#listeMesQuestions .modal-content div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#afficher-propositions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px;
  gap: 30px;
}
#afficher-propositions .panel2 {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
#afficher-propositions .panel2 .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
#afficher-propositions .panel2 p {
  margin-top: 0;
}
#afficher-propositions .panel2 img {
  border: #a8a8a8 3px solid;
  margin-top: 20px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  align-self: center;
}
#afficher-propositions #afficher-propositions__top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}
#afficher-propositions #afficher-propositions__top * {
  margin: 0;
}
#afficher-propositions #afficher-propositions__top span {
  font-size: 1.3rem;
  font-weight: bold;
  color: #838383;
}
#afficher-propositions #afficher-propositions__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
#afficher-propositions #afficher-propositions__selector {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#afficher-propositions #afficher-propositions__selector .boite {
  min-width: 200px;
  display: flex;
  justify-content: center;
}
#afficher-propositions #afficher-propositions__selector * {
  margin: 0;
}
#afficher-propositions #afficher-propositions__selector img {
  z-index: 1;
}
#afficher-propositions #afficher-propositions__proposition {
  width: 80%;
}
#afficher-propositions #afficher-propositions__proposition__under {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#afficher-propositions #afficher-propositions__proposition__under * {
  margin: 0;
}
#afficher-propositions #afficher-propositions__boutons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

#afficher-propositions__formulaire-vote {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#afficher-propositions__formulaire-vote h2 {
  margin-bottom: 0;
}
#afficher-propositions__formulaire-vote > p {
  margin-top: 5px;
  width: 80%;
}
#afficher-propositions__formulaire-vote input[type=submit] {
  margin-top: 20px;
  align-self: center;
}
#afficher-propositions__formulaire-vote .choix-proposition {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  align-items: center;
}
#afficher-propositions__formulaire-vote .choix-proposition label {
  font-size: 1.2rem;
  margin: 7.5px 0;
  padding-right: 60px;
  word-break: break-word;
}
@media screen and (max-width: 700px) {
  #afficher-propositions__formulaire-vote .choix-proposition label {
    padding-right: 20px;
  }
}
#afficher-propositions__formulaire-vote .voteAlternatif {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#afficher-propositions__formulaire-vote .voteAlternatif > div {
  width: calc(50% - 30px);
}
#afficher-propositions__formulaire-vote .voteAlternatif .hide {
  display: none;
}
#afficher-propositions__formulaire-vote .voteAlternatif .box {
  display: flex;
  align-items: stretch;
  margin: 2px 0;
  min-height: 40px;
}
#afficher-propositions__formulaire-vote .voteAlternatif .box:first-child {
  margin-top: 0;
}
#afficher-propositions__formulaire-vote .voteAlternatif .box:last-child {
  margin-bottom: 0;
}
#afficher-propositions__formulaire-vote .voteAlternatif .box > span {
  width: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#afficher-propositions__formulaire-vote .voteAlternatif .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #353535;
  cursor: -webkit-grab;
  cursor: grab;
  width: 100%;
  padding: 2px;
}
#afficher-propositions__formulaire-vote .voteAlternatif .item p, #afficher-propositions__formulaire-vote .voteAlternatif .item img {
  margin: 10px 5px;
}
#afficher-propositions__formulaire-vote .voteAlternatif .source-container, #afficher-propositions__formulaire-vote .voteAlternatif .destination-container {
  width: 100%;
  border: solid #767676 2px;
}
#afficher-propositions__formulaire-vote .voteAlternatif .source-container .box > span {
  background-color: #A8A8A8;
}
#afficher-propositions__formulaire-vote .voteAlternatif .destination-container .box > span {
  background-color: #E1603C;
}
#afficher-propositions__formulaire-vote .voteAlternatif .selected {
  border: solid #E1603C 2px;
  padding: 0 !important;
}
@media screen and (max-width: 700px) {
  #afficher-propositions__formulaire-vote .voteAlternatif {
    flex-direction: column;
  }
  #afficher-propositions__formulaire-vote .voteAlternatif > div {
    width: 100%;
    margin: 20px 0;
  }
}
#afficher-propositions__formulaire-vote .jugement-majoritaire {
  display: grid;
  grid-template-columns: 40% repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  gap: 10px;
}
#afficher-propositions__formulaire-vote .jugement-majoritaire span {
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
#afficher-propositions__formulaire-vote .jugement-majoritaire span:first-of-type {
  justify-self: flex-start;
}
#afficher-propositions__formulaire-vote .jugement-majoritaire .container__radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#afficher-propositions__formulaire-vote .jugement-majoritaire .mention__small {
  display: none;
  font-size: 0.8rem;
  font-weight: 300;
}
#afficher-propositions__formulaire-vote .jugement-majoritaire .proposition {
  justify-self: flex-start;
  color: white;
  text-decoration: none;
}
#afficher-propositions__formulaire-vote .jugement-majoritaire .proposition:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1000px) and (min-width: 601px) {
  #afficher-propositions__formulaire-vote .jugement-majoritaire {
    grid-template-columns: repeat(6, 1fr);
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .proposition {
    grid-column: auto/span 6;
    margin-top: 20px;
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .mention {
    display: none;
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .mention__small {
    display: block;
  }
}
@media screen and (max-width: 600px) and (min-width: 401px) {
  #afficher-propositions__formulaire-vote .jugement-majoritaire {
    grid-template-columns: repeat(3, 1fr);
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .proposition {
    grid-column: auto/span 3;
    margin-top: 20px;
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .mention {
    display: none;
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .mention__small {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  #afficher-propositions__formulaire-vote .jugement-majoritaire {
    grid-template-columns: repeat(2, 1fr);
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .proposition {
    grid-column: auto/span 2;
    margin-top: 20px;
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .mention {
    display: none;
    grid-column: auto/span 2;
  }
  #afficher-propositions__formulaire-vote .jugement-majoritaire .mention__small {
    display: block;
  }
}

#afficher-resultats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px;
  gap: 30px;
  position: relative;
}
#afficher-resultats .panel2 {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
#afficher-resultats .panel2 .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
#afficher-resultats .panel2 p {
  margin-top: 0;
}
#afficher-resultats #afficher-resultats__top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}
#afficher-resultats #afficher-resultats__top * {
  margin: 0;
}
#afficher-resultats #afficher-resultats__top span {
  font-size: 1.3rem;
  font-weight: bold;
  color: #838383;
}
#afficher-resultats #afficher-resultats__body {
  display: flex;
  flex-direction: column;
}
#afficher-resultats #afficher-resultats__body #resultats-vote__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#afficher-resultats #afficher-resultats__body #resultats-vote__body .resultats-vote__body__noresults {
  display: flex;
  align-self: center;
}
#afficher-resultats #afficher-resultats__body #resultats-vote__body img {
  border: #a8a8a8 3px solid;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  align-self: center;
}
#afficher-resultats .jugement-majoritaire {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__grid {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 20px;
  align-items: center;
  justify-content: start;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__grid a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__grid a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  #afficher-resultats .jugement-majoritaire .jugement-majoritaire__grid {
    grid-template-columns: 1fr;
  }
}
#afficher-resultats .jugement-majoritaire .diagramme__ligne {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: inset(0 0 0 0 round 10px);
          clip-path: inset(0 0 0 0 round 10px);
}
#afficher-resultats .jugement-majoritaire .diagramme__segment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  overflow: hidden;
  text-overflow: clip;
}
#afficher-resultats .jugement-majoritaire .diagramme__segment:nth-of-type(1) {
  background-color: #181818;
  color: white;
}
#afficher-resultats .jugement-majoritaire .diagramme__segment:nth-of-type(2) {
  background-color: #ff4141;
  color: black;
}
#afficher-resultats .jugement-majoritaire .diagramme__segment:nth-of-type(3) {
  background-color: #fffa8d;
  color: black;
}
#afficher-resultats .jugement-majoritaire .diagramme__segment:nth-of-type(4) {
  background-color: #3fdf5b;
  color: black;
}
#afficher-resultats .jugement-majoritaire .diagramme__segment:nth-of-type(5) {
  background-color: #00b620;
  color: black;
}
#afficher-resultats .jugement-majoritaire .diagramme__segment:nth-of-type(6) {
  background-color: #007514;
  color: white;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende h3 {
  margin: 0;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende .diagramme__legende {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: stretch;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende .diagramme__legende span {
  width: 40px;
  height: 20px;
  border-radius: 10px;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende .diagramme__legende:nth-of-type(6) span {
  background-color: #181818;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende .diagramme__legende:nth-of-type(5) span {
  background-color: #ff4141;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende .diagramme__legende:nth-of-type(4) span {
  background-color: #fffa8d;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende .diagramme__legende:nth-of-type(3) span {
  background-color: #3fdf5b;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende .diagramme__legende:nth-of-type(2) span {
  background-color: #00b620;
}
#afficher-resultats .jugement-majoritaire .jugement-majoritaire__legende .diagramme__legende:nth-of-type(1) span {
  background-color: #007514;
}
#afficher-resultats .voteAlternatif {
  overflow-x: auto;
  width: 100%;
}
#afficher-resultats .voteAlternatif table {
  margin: auto;
}
#afficher-resultats .voteAlternatif table td {
  background-color: #252525;
  padding: 5px;
}
#afficher-resultats .voteAlternatif table td > span {
  font-size: 0.7em;
  margin-right: 5px;
}
#afficher-resultats .voteAlternatif table tr:first-child td:first-child {
  border-top-left-radius: 7px;
}
#afficher-resultats .voteAlternatif table tr:first-child td:last-child {
  border-top-right-radius: 7px;
}
#afficher-resultats .voteAlternatif table tr:first-child td:not(:first-child) {
  font-weight: bold;
}
#afficher-resultats .voteAlternatif table tr:last-child td:first-child {
  border-bottom-left-radius: 7px;
}
#afficher-resultats .voteAlternatif table tr:last-child td:last-child {
  border-bottom-right-radius: 7px;
}
#afficher-resultats .voteAlternatif table tr:not(:first-child) td {
  text-align: center;
}
#afficher-resultats .voteAlternatif table .propositionPerdante {
  background-color: #a8a8a8;
}
#afficher-resultats .voteAlternatif table .casePleine,
#afficher-resultats .voteAlternatif table .propositionGagnante {
  background-color: #E1603C;
}
#afficher-resultats .pasDeVote {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#afficher-resultats .pasDeVote > p {
  margin-top: 20px;
}

#listeQuestionsFinies .question {
  text-align: justify;
  width: 100%;
  margin: 10px 0;
}
#listeQuestionsFinies .question .boite {
  min-height: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: calc(100% - 26px);
}
#listeQuestionsFinies .question .boite div {
  width: 100%;
}
#listeQuestionsFinies .question .boite div div {
  display: flex;
  justify-content: space-between;
}
#listeQuestionsFinies .question .boite div p {
  margin-top: 0;
}
#listeQuestionsFinies .question .boite div {
  width: 100%;
}
#listeQuestionsFinies .question .boite .date {
  text-align: right;
  margin: 0;
  font-size: 0.8rem;
  color: rgb(168, 168, 168);
}
#listeQuestionsFinies .question .boite .organisateur {
  font-size: 0.8rem;
}

#afficherProfil {
  min-width: 60%;
}
#afficherProfil #contenuProfil {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
  word-break: break-word;
}
#afficherProfil #contenuProfil .pen {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
#afficherProfil #contenuProfil #informations {
  gap: 5%;
}
#afficherProfil #contenuProfil #PPusername {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#afficherProfil #contenuProfil #PPusername #editPP {
  position: relative;
  bottom: 110px;
  left: 47px;
  width: 30px;
  height: 30px;
  background-color: #E1603C;
  border: solid #E1603C 5px;
  border-bottom: solid #E1603C 3px;
  border-right: solid #E1603C 3px;
  border-radius: 10% 0 10% 0;
}
#afficherProfil #contenuProfil #PPusername #PP {
  width: 150px;
  height: 150px;
  background-color: #E1603C;
  border: solid #E1603C 5px;
  border-radius: 50%;
}
#afficherProfil #contenuProfil #PPusername #PP img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#afficherProfil .supprimerBtn {
  margin-top: 20px;
}
#afficherProfil .supprimerBtn a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1000px) {
  #afficherProfil #contenuProfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 0;
  }
}
#afficherProfil ~ .modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#afficherProfil ~ .modal form label {
  margin-top: 5px;
}
#afficherProfil ~ .modal form input[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}

#liste-questions {
  align-items: stretch;
}
@media screen and (max-width: 450px) {
  #liste-questions {
    align-items: center;
  }
}
#liste-questions #liste-questions__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
#liste-questions #liste-questions__top .barre-recherche {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 40%;
  height: 40px;
  border-radius: 40px;
  background-color: #d9d9d9;
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre {
  position: relative;
  margin-left: 7px;
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre .bouton-ouvrir-filtres img {
  transform: translateY(2px);
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre .filtres {
  display: none;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  white-space: nowrap;
  z-index: 1;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  justify-items: stretch;
  align-items: stretch;
  position: absolute;
  top: 50px;
  left: -15px;
  background-color: #353535;
  border: solid 3px #E1603C;
  border-radius: 10px;
  padding: 10px;
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre .filtres label {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre .filtres .menu-filtre-4fr {
  grid-column: auto/span 4;
  font-weight: bold;
  font-size: 1.2rem;
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre .filtres input[type=submit] {
  margin: 0;
  grid-column: 1/span 4;
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre .filtres::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #E1603C transparent;
  top: -15px;
  left: 12px;
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre .filtres #lien-tout-supprimer {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 0.9rem;
}
#liste-questions #liste-questions__top .barre-recherche .menu-filtre:focus-within .filtres {
  display: grid;
}
#liste-questions #liste-questions__top .barre-recherche form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
#liste-questions #liste-questions__top .barre-recherche form input[type=text] {
  background: none;
  border: none;
  color: #000;
  padding: 10px;
  font-size: 1.2rem;
}
#liste-questions #liste-questions__top .barre-recherche form #validation-search {
  background: none;
  border: none;
  color: #000;
  background-image: url("../assets/images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
}
@media screen and (max-width: 1300px) {
  #liste-questions #liste-questions__top {
    flex-direction: column;
    gap: 10px;
  }
  #liste-questions #liste-questions__top .barre-recherche {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  #liste-questions #liste-questions__top .barre-recherche {
    width: 100%;
  }
}
#liste-questions #liste-questions__top .switch-mode-container {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#liste-questions #liste-questions__top .switch-mode-container span {
  text-align: center;
}
#liste-questions #liste-questions__top .switch-mode-container .switch-mode {
  text-decoration: none;
}
@media screen and (max-width: 1300px) {
  #liste-questions #liste-questions__top .switch-mode-container {
    margin-left: 0;
    margin-right: 0;
  }
}
#liste-questions #questions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin: 20px;
}
@media screen and (max-width: 1300px) {
  #liste-questions #questions {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  #liste-questions #questions {
    grid-template-columns: 1fr;
  }
}
#liste-questions .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#liste-questions .pagination .pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #353535;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-in-out;
}
#liste-questions .pagination .pagination__link:hover {
  background-color: #252525;
}
#liste-questions .pagination .pagination__link--current {
  background-color: #E1603C;
}
#liste-questions .pagination .pagination__link--current:hover {
  background-color: #E1603C;
}
#liste-questions .pagination .pagination__link--inactive {
  background-color: #252525;
}

#afficher-question {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px;
  gap: 30px;
}
#afficher-question .panel2 {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
#afficher-question .panel2 .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
#afficher-question .panel2 p {
  margin-top: 0;
}
#afficher-question #afficher-question__top {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-all;
}
#afficher-question #afficher-question__top * {
  margin: 0;
}
#afficher-question #afficher-question__top span {
  font-size: 1.3rem;
  font-weight: bold;
  color: #838383;
}
#afficher-question #afficher-question__top #afficher-question__top__actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-self: center;
  justify-content: center;
  word-break: keep-all;
  flex-wrap: wrap;
}
#afficher-question #afficher-question__tags #tags_list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
#afficher-question #afficher-question__tags #tags_list .tag {
  background-color: #5b5958;
  border: solid #5b5958 5px;
  border-radius: 50px;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  align-items: baseline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: default;
  gap: 5px;
}
#afficher-question #afficher-question__propositions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 1300px) {
  #afficher-question #afficher-question__propositions {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  #afficher-question #afficher-question__propositions {
    grid-template-columns: 1fr;
  }
}
#afficher-question #afficher-question__sections .titre-section {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 20px;
}
#afficher-question #afficher-question__sections .description-section p {
  margin: 0 20px;
  text-align: justify;
}
#afficher-question #modal-phase-suivante .modal-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
#afficher-question #modal-phase-suivante .modal-content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

#accueil {
  display: flex;
}
#accueil #leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 300px;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
  background: linear-gradient(173.31deg, #353535 -13.15%, #1B1B1B 102.6%);
}
#accueil #leftSide img {
  width: 200px;
}
@media screen and (max-width: 900px) {
  #accueil #leftSide {
    display: none;
  }
}
#accueil #rightSide {
  margin-left: 310px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
#accueil #rightSide .panel {
  max-width: 800px;
  padding: 30px;
}
#accueil #rightSide .panel .question-compact {
  margin: 30px 0;
}
#accueil #rightSide .panel .question-compact:first-child {
  margin-top: 0;
}
#accueil #rightSide .panel .question-compact .top {
  display: flex;
  justify-content: space-between;
}
#accueil #rightSide .panel .question-compact .top > h2 {
  color: #E1603C;
  text-align: end;
  margin: 0;
}
@media screen and (max-width: 900px) {
  #accueil #rightSide {
    margin-left: 10px;
  }
  #accueil #rightSide .panel .top {
    flex-direction: column;
    align-items: center;
  }
}

#poserQuestion #poser-question__top {
  width: 90%;
  margin: 0 5% 50px 5px;
  text-align: center;
}
#poserQuestion #poser-question__top h2 {
  margin: 10px 0 0 0;
}
#poserQuestion #poser-question__top p {
  margin: 5px 0;
}
#poserQuestion #progress-bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 15px;
  border-radius: 50px;
  background-color: #787878;
}
#poserQuestion #progress-bar .progress-bar__step:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
#poserQuestion #progress-bar .progress-bar__step:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#poserQuestion #progress-bar .progress-bar__step:not(:last-child) {
  border-right: solid #1B1B1B 2px;
  width: calc(100% - 2px);
}
#poserQuestion #progress-bar .progress-bar__step.filling {
  background-color: #E1603C;
}
#poserQuestion #tags_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#poserQuestion #tags_input input[type=text] {
  width: 100px;
}
#poserQuestion #tags_list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 80%;
}
#poserQuestion #tags_list .tag {
  background-color: #5B5958;
  border: solid #5B5958 5px;
  border-radius: 50px;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  align-items: baseline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: default;
  gap: 5px;
}
#poserQuestion #tags_list strong {
  cursor: pointer;
}
#poserQuestion #poser-question__body label {
  display: inline-block;
  margin: 15px 0 5px 0;
}
#poserQuestion #systemesDeVote {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#poserQuestion #systemesDeVote input {
  display: none;
}
#poserQuestion #systemesDeVote label {
  border: solid #D9D9D9 3px;
  background-color: #353535;
  transform: scale(0.85);
  transition: transform 125ms ease-in-out;
  padding: 20px;
  width: 80%;
}
#poserQuestion #systemesDeVote label .systemesDeVote__description {
  display: inline-block;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 0.8em;
}
#poserQuestion #systemesDeVote input:checked + label {
  border-color: #E1603C;
  transform: scale(1);
}
#poserQuestion #calendrier {
  display: grid;
  grid-template-columns: 50px 1fr;
}
#poserQuestion #calendrier .calendrierCercleBarre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#poserQuestion #calendrier .calendrierCercleBarre .barre {
  width: 2px;
  height: calc(100% - 30px);
  background-color: #D9D9D9;
}
#poserQuestion #calendrier .calendrierCercleBarre .cercle {
  width: 28px;
  height: 28px;
  border: solid #D9D9D9 2px;
  border-radius: 100%;
}
#poserQuestion #calendrier h2 {
  margin: 0;
  color: #E1603C;
  align-self: center;
}
#poserQuestion #calendrier #fleche {
  justify-self: center;
}
#poserQuestion #calendrier .selecteurDate p {
  margin: 30px 0 30px 20px;
}

h1, h2, h3, h4, h5, h6, p, label, input, textarea, fieldset, body {
  color: white;
  font-family: Raleway, serif;
}

a {
  -webkit-text-decoration-color: #E1603C;
          text-decoration-color: #E1603C;
  color: #E1603C;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  background: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  background: none !important;
}

.no-scroll {
  overflow: hidden;
}

html, body {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #1B1B1B;
  font-family: Raleway, serif;
  background-image: url("../assets/images/greek_logo_fond.png");
  background-size: 30%;
}/*# sourceMappingURL=style.css.map */