@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.boite {
  border: solid 3px #E1603C;
  background-color: #353535;
  padding: 10px;
}

input[type=button],
input[type=submit],
button,
.button {
  text-decoration: none;
  font-size: 1rem;
  background-color: #E1603C;
  border: none;
  border-radius: 4px;
  padding: 8px 25px;
  color: white;
  margin: 15px 0;
}
input[type=button]:hover,
input[type=submit]:hover,
button:hover,
.button:hover {
  background-color: #B1482C;
  cursor: pointer;
}
input[type=button]:disabled,
input[type=submit]:disabled,
button:disabled,
.button:disabled {
  background-color: #B1482C;
  cursor: default;
}
input[type=button].validerBtn,
input[type=submit].validerBtn,
button.validerBtn,
.button.validerBtn {
  background-color: #09B44D;
}
input[type=button].validerBtn:hover,
input[type=submit].validerBtn:hover,
button.validerBtn:hover,
.button.validerBtn:hover {
  background-color: #069840;
}
input[type=button].validerBtn:disabled,
input[type=submit].validerBtn:disabled,
button.validerBtn:disabled,
.button.validerBtn:disabled {
  background-color: #069840;
}
input[type=button].refuserBtn,
input[type=submit].refuserBtn,
button.refuserBtn,
.button.refuserBtn {
  background-color: #E43C0E;
}
input[type=button].refuserBtn:hover,
input[type=submit].refuserBtn:hover,
button.refuserBtn:hover,
.button.refuserBtn:hover {
  background-color: #c2320b;
}
input[type=button].refuserBtn:disabled,
input[type=submit].refuserBtn:disabled,
button.refuserBtn:disabled,
.button.refuserBtn:disabled {
  background-color: #c2320b;
}

.conteneurDateHeure {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
}
.conteneurDateHeure div {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5px 0;
}
.conteneurDateHeure div span {
  display: flex;
  align-items: center;
}
.conteneurDateHeure input {
  height: 20px;
  margin: 2.5px 10px;
}
.conteneurDateHeure input[type=date] {
  width: 120px;
}
.conteneurDateHeure input[type=time] {
  width: 80px;
}
.conteneurDateHeure div:last-child input[type=date] {
  margin-left: 13px;
}

.conteneur_section {
  padding: 0 20px 20px;
  border: #353535 1px solid;
}
.conteneur_section div {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conteneur_section label {
  display: block;
  font-size: 1em;
  margin: 4px 0;
}
.conteneur_section .remove_section {
  padding: 3px 6px;
}
.conteneur_section textarea {
  resize: none;
}
.conteneur_section input[type=text] {
  width: calc(100% - 14px);
}

.text_input_div {
  position: relative;
  text-align: center;
}

.indicateur_max_chars {
  font-size: 0.8rem;
  position: absolute;
  bottom: -16px;
  right: 0;
  color: rgb(168, 168, 168);
}

select {
  background-color: #353535;
  color: white;
  padding: 5px;
  border: #E1603C 2px solid;
  outline: none;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background-color: #252525;
  padding: 1.5em 2em;
  width: 500px;
  max-width: 90%;
  position: relative;
}
.modal-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  color: white;
}

.texteDepliantTrigger {
  display: none;
}
.texteDepliantTrigger:not(:checked) + div img {
  transform: rotate(180deg);
}
.texteDepliantTrigger:not(:checked) + div + p {
  display: none;
}
.texteDepliantTrigger + div {
  display: flex;
  align-items: center;
}
.texteDepliantTrigger + div label {
  margin: 0;
}
.texteDepliantTrigger + div img {
  transition: transform 150ms ease-in-out;
  cursor: pointer;
  margin: 0 10px;
  height: 13px;
}

/* STRUCTURE:

  input
  div
    label
      img (flèche)
  texte à cacher/afficher
*/
nav {
  background-color: #E1603C;
  width: 70%;
  height: 45px;
  margin: 15px auto 0 auto;
  border: solid black 1px;
}
nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
nav ul li {
  display: block;
}
nav ul li:not(:nth-last-child(0)) {
  border-right: solid black 1px;
}
nav ul li:hover {
  background-color: #B1482C;
}
nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.1em;
}
nav #activeMenu {
  background-color: #B1482C;
}
nav #activeMenu a {
  cursor: default;
}

.panel {
  background-color: #252525;
  width: 80%;
  margin: 35px auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: -6px -6px 4px #2B2B2B, 6px 6px 4px #1F1F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel > h1 {
  align-self: flex-start;
  margin-left: 5%;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0;
}
fieldset > textarea,
fieldset input[type=text] {
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  fieldset {
    width: 90%;
  }
}

input,
textarea {
  outline: none;
  background-color: #353535;
  border: solid 2px #E1603C;
  padding: 5px;
  font-size: 1rem;
}

textarea,
input[type=text] {
  background-color: #353535;
  width: calc(100% - 14px);
  resize: vertical;
  border: solid 2px #E1603C;
  padding: 5px;
  font-size: 1rem;
}

textarea {
  min-height: 6rem;
}

label {
  margin-top: 20px;
  font-size: 1.5em;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

input[type=time]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"> <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" fill="white"></path> <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" fill="white"></path> </svg>');
}

#roles_input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10%;
}
#roles_input #votants_input,
#roles_input #responsables_input {
  display: flex;
  flex-direction: column;
}
#roles_input #votants_input #remove_responsable,
#roles_input #votants_input #remove_votant,
#roles_input #responsables_input #remove_responsable,
#roles_input #responsables_input #remove_votant {
  margin-top: 7px;
}
#roles_input #votants_input #add_responsable,
#roles_input #votants_input #add_votant,
#roles_input #responsables_input #add_responsable,
#roles_input #responsables_input #add_votant {
  align-self: center;
}
#roles_input #votants_input select,
#roles_input #responsables_input select {
  /*max-width: 200px;*/
  width: calc(100% - 60px);
}
#roles_input #votants_input button,
#roles_input #responsables_input button {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 5px;
}
@media screen and (max-width: 1000px) {
  #roles_input #votants_input,
#roles_input #responsables_input {
    width: 100%;
  }
}
#roles_input .conteneur_responsable,
#roles_input .conteneur_votant {
  padding: 0;
}
@media screen and (max-width: 1000px) {
  #roles_input {
    flex-direction: column;
  }
}

#co_auteurs_input {
  display: flex;
  flex-direction: column;
}
#co_auteurs_input #remove_responsable,
#co_auteurs_input #remove_votant {
  margin-top: 7px;
}
#co_auteurs_input #add_responsable,
#co_auteurs_input #add_votant {
  margin-left: 65px;
}
#co_auteurs_input button {
  width: 50px;
  height: 30px;
  text-align: center;
  padding: 0;
  margin: 5px;
}

#sections_input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#sections_input #add_section {
  height: 60px;
  width: 60px;
  padding: 0;
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  text-align: center;
}
@media screen and (max-width: 1200px) and (min-width: 751px) {
  #sections_input {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  #sections_input {
    grid-template-columns: 1fr;
  }
}

.demandeQuestion {
  width: 100%;
  margin: 10px 0;
}
.demandeQuestion .boite:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.demandeQuestion .boite:first-child {
  width: calc(100% - 26px);
}
.demandeQuestion .button {
  margin: 5px;
  width: calc(100% - 60px);
}

@media screen and (min-width: 500px) {
  .demandeQuestion {
    display: flex;
  }
  .demandeQuestion .boite:last-child {
    border-left: 0;
  }
}
@media screen and (max-width: 499px) {
  .demandeQuestion .boite:last-child {
    border-top: 0;
    width: calc(100% - 26px);
  }
}
.message, .errorMessage {
  /* glassmorphism */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  /* positionnement */
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation */
  animation: disappear 500ms forwards;
  animation-delay: 2s;
}

.errorMessage {
  background: rgba(194, 50, 11, 0.2);
  border: 1px solid rgba(194, 50, 11, 0.3);
  box-shadow: 0 4px 30px rgba(194, 50, 11, 0.1);
  color: #E43C0E;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#ecrirePropositionForm .sectionTitle {
  margin-top: 25px;
}
#ecrirePropositionForm .sectionTitle h2 {
  margin: 0;
  font-weight: normal;
}
#ecrirePropositionForm .descriptionProposition {
  width: calc(100% - 10px);
  margin: 0;
  background-color: #3C3C3C;
  padding: 5px;
}
#ecrirePropositionForm .descriptionProposition + textarea {
  margin-top: 10px;
}

#gererCoAuteursForm #co_auteurs_input select {
  width: calc(100% - 55px);
}
#gererCoAuteursForm #co_auteurs_input select + button {
  margin-right: 0;
}
#gererCoAuteursForm #co_auteurs_input #add_co_auteur {
  grid-column: span 2;
  margin: 20px auto 0 auto;
}
#gererCoAuteursForm #co_auteurs_input .conteneur_co_auteur {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  #gererCoAuteursForm #co_auteurs_input {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #gererCoAuteursForm #co_auteurs_input .conteneur_co_auteur select {
    width: calc(100% - 80px);
  }
  #gererCoAuteursForm #co_auteurs_input .conteneur_co_auteur:nth-child(2n) {
    justify-self: end;
  }
  #gererCoAuteursForm #co_auteurs_input .conteneur_co_auteur:nth-child(2n) select {
    margin-left: 25px;
  }
}

.question {
  text-align: justify;
  width: 100%;
  margin: 10px 0;
}
.question .boite {
  height: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: calc(100% - 26px);
}
.question .boite div:first-child {
  width: 80%;
}
.question .boite div:first-child p {
  margin: 0;
}
.question .boite div:last-child {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.question .boite div:last-child .button,
.question .boite div:last-child button {
  margin: 0;
}

#afficherPropositions #propositionTitle {
  width: 100%;
}
#afficherPropositions #description {
  text-align: justify;
}
#afficherPropositions #propositionSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}
#afficherPropositions #propositionSelector a:first-child {
  margin-right: 20px;
}
#afficherPropositions #propositionSelector a:last-child {
  margin-left: 20px;
}
#afficherPropositions #propositionSelector .boite {
  min-width: calc(50% - 90px);
  text-align: center;
}
#afficherPropositions #proposition {
  width: 80%;
}
#afficherPropositions #proposition h2 {
  margin: 0 0 4px 0;
}
#afficherPropositions #proposition p {
  text-align: justify;
  margin: 0 0 4px 0;
}
#afficherPropositions #proposition p + h2 {
  margin-top: 8px;
}

#formulaire_vote {
  display: flex;
  flex-direction: column;
  width: 80%;
}
#formulaire_vote h2 {
  margin-bottom: 0;
}
#formulaire_vote p {
  margin-top: 5px;
}
#formulaire_vote input[type=submit] {
  margin-top: 20px;
  align-self: center;
}
#formulaire_vote input[type=radio] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid #E1603C;
  display: grid;
  place-items: center;
  place-content: center;
}
#formulaire_vote input[type=radio]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #E1603C;
  background-color: CanvasText;
}
#formulaire_vote input[type=radio]:checked::before {
  transform: scale(1);
}
#formulaire_vote div {
  width: fit-content;
}
#formulaire_vote div div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#formulaire_vote div div + div {
  margin-top: 20px;
}
#formulaire_vote div div label {
  margin: 0;
  padding-right: 60px;
}
@media screen and (max-width: 700px) {
  #formulaire_vote div div label {
    padding-right: 20px;
  }
}

h1, h2, h3, h4, h5, h6, p, label, input, textarea, fieldset, body {
  color: white;
  font-family: Raleway, serif;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #1B1B1B;
  font-family: Raleway, serif;
  background-image: url("../assets/images/greek_logo_fond.png");
  background-size: 30%;
}

/*# sourceMappingURL=style.css.map */
