@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1, h2, h3, h4, h5, h6, p, label, input, textarea, fieldset {
  color: white;
  font-family: Raleway, serif;
}

nav {
  background-color: #E1603C;
  width: 70%;
  height: 45px;
  margin: 15px auto 0 auto;
  border: solid black 1px;
}
nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
nav ul li {
  display: block;
}
nav ul li:not(:nth-last-child(0)) {
  border-right: solid black 1px;
}
nav ul li:hover {
  background-color: #B1482C;
}
nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.1em;
}
nav #activeMenu {
  background-color: #B1482C;
}
nav #activeMenu a {
  cursor: default;
}

.panel {
  background-color: #252525;
  width: 80%;
  margin: 35px auto;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: -6px -6px 4px #2B2B2B, 6px 6px 4px #1F1F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel > h1 {
  align-self: flex-start;
  margin-left: 5%;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  width: 70%;
}

input, textarea {
  outline: none;
  background-color: #353535;
  border: solid 2px #E1603C;
  padding: 5px;
}

textarea {
  background-color: #353535;
  width: 100%;
  resize: vertical;
  border: solid 2px #E1603C;
  padding: 5px;
}

input[type=date], input[type=time] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

input[type=button], input[type=submit], button, .button {
  background-color: #E1603C;
  border: none;
  border-radius: 4px;
  padding: 8px 25px;
  color: white;
  margin: 15px 0;
}
input[type=button]:hover, input[type=submit]:hover, button:hover, .button:hover {
  background-color: #B1482C;
  cursor: pointer;
}
input[type=button]:disabled, input[type=submit]:disabled, button:disabled, .button:disabled {
  background-color: #B1482C;
}
input[type=button].validerBtn, input[type=submit].validerBtn, button.validerBtn, .button.validerBtn {
  background-color: #09B44D;
}
input[type=button].validerBtn:hover, input[type=submit].validerBtn:hover, button.validerBtn:hover, .button.validerBtn:hover {
  background-color: #069840;
}
input[type=button].validerBtn:disabled, input[type=submit].validerBtn:disabled, button.validerBtn:disabled, .button.validerBtn:disabled {
  background-color: #069840;
}
input[type=button].refuserBtn, input[type=submit].refuserBtn, button.refuserBtn, .button.refuserBtn {
  background-color: #E43C0E;
}
input[type=button].refuserBtn:hover, input[type=submit].refuserBtn:hover, button.refuserBtn:hover, .button.refuserBtn:hover {
  background-color: #c2320b;
}
input[type=button].refuserBtn:disabled, input[type=submit].refuserBtn:disabled, button.refuserBtn:disabled, .button.refuserBtn:disabled {
  background-color: #c2320b;
}

.button {
  text-decoration: none;
  text-align: center;
}

label {
  margin-top: 20px;
  font-size: 1.5em;
}

.boite {
  border: solid 3px #E1603C;
  background-color: #353535;
  padding: 10px;
}

.demandeQuestion .boite:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.demandeQuestion .button {
  margin: 5px;
  width: calc(100% - 60px);
}

@media screen and (min-width: 500px) {
  .demandeQuestion {
    display: flex;
  }
  .demandeQuestion .boite:last-child {
    border-left: 0;
  }
}
@media screen and (max-width: 499px) {
  .demandeQuestion .boite:last-child {
    border-top: 0;
  }
}
html, body {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #1B1B1B;
  font-family: Raleway, serif;
}
body::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 95%;
  height: 95%;
  background-image: url("../assets/images/greek_logo_fond.png");
  background-size: 30%;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */