#afficherProfil{
  max-width: 50%;

  #contenuProfil {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;

    .pen {
      width: 20px;
      height: 20px;
      margin-left: 5px;
    }

    #PPusername {
      display: flex;
      flex-direction: column;
      align-items: center;

      #editPP {
        position: relative;
        bottom: 110px;
        left: 47px;
        width: 30px;
        height: 30px;
        background-color: $couleurPrincipale;
        border: solid $couleurPrincipale 5px;
        border-bottom: solid $couleurPrincipale 3px;
        border-right: solid $couleurPrincipale 3px;
        border-radius: 10% 0 10% 0;
      }

      #PP {
        width: 150px;
        height: 150px;
        background-color: $couleurPrincipale;
        border: solid $couleurPrincipale 5px;
        border-radius: 50%;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
    }

  }
  .supprimerBtn{
    margin-top:20px;

    a{
      text-decoration: none;
      color:white;
    }
  }

  @media screen and (max-width: 1000px) {
    #contenuProfil {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-top:0;
      }
  }

  & ~ .modal {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;

      label{
        margin-top:5px;
      }
      input[type="submit"] {
        width: fit-content;
        align-self: center;
      }
    }
  }
}