#afficher-resultats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px;
  gap: 30px;
  position: relative;

  .panel2 {
    padding: 0 20px 20px 20px;

    display: flex;
    flex-direction: column;

    .button {
      width: fit-content;
      align-self: center;
    }

    p {
      margin-top: 0;
    }
  }

  #afficher-resultats__top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;

    * {
      margin: 0;
    }

    span {
      font-size: 1.3rem;
      font-weight: bold;
      color: $couleurTexte2;
    }
  }

  #afficher-resultats__body {
    display: flex;
    flex-direction: column;

    #resultats-vote__body {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .resultats-vote__body__noresults {
        display: flex;
        align-self: center;
      }

      img {
        border: $grisClair 3px solid;
        border-radius: 10px;
        width: 200px;
        height: 200px;
        align-self: center;
      }
    }
  }

  .jugement-majoritaire {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .jugement-majoritaire__grid {
      display: grid;
      grid-template-columns: 40% 1fr;
      gap: 20px;

      align-items: center;
      justify-content: start;

      a {
        color: $couleurTexte;
        text-decoration: none;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
        }
      }

      @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
      }
    }

    .diagramme__ligne {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      clip-path: inset(0 0 0 0 round 10px);
    }

    .diagramme__segment {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      overflow: hidden;
      text-overflow: clip;

      &:nth-of-type(1) {
        background-color: #181818;
        color: white;
      }

      &:nth-of-type(2) {
        background-color: #ff4141;
        color: black;
      }

      &:nth-of-type(3) {
        background-color: #fffa8d;
        color: black;
      }

      &:nth-of-type(4) {
        background-color: #3fdf5b;
        color: black;
      }

      &:nth-of-type(5) {
        background-color: #00b620;
        color: black;
      }

      &:nth-of-type(6) {
        background-color: #007514;
        color: white;
      }
    }

    .jugement-majoritaire__legende {

      h3 {
        margin: 0;
      }
      display: flex;
      flex-direction: column;
      gap: 10px;

      .diagramme__legende {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: stretch;

        span {
          width: 40px;
          height: 20px;
          border-radius: 10px;
        }

        &:nth-of-type(6) {
          span {
            background-color: #181818;
          }
        }

        &:nth-of-type(5) {
          span {
            background-color: #ff4141;
          }
        }

        &:nth-of-type(4) {
          span {
            background-color: #fffa8d;
          }
        }

        &:nth-of-type(3) {
          span {
            background-color: #3fdf5b;
          }
        }

        &:nth-of-type(2) {
          span {
            background-color: #00b620;
          }
        }

        &:nth-of-type(1) {
          span {
            background-color: #007514;
          }
        }
      }
    }
  }

  .voteAlternatif {
    $tailleArrondi: 7px;
    overflow-x: auto;
    width: 100%;

    table {
      margin: auto;

      td {
        background-color: $couleurFond2;
        padding: 5px;

        > span {
          font-size: 0.7em;
          margin-right: 5px;
        }
      }

      tr:first-child {
        td:first-child {
          border-top-left-radius: $tailleArrondi;
        }
        td:last-child {
          border-top-right-radius: $tailleArrondi;
        }
        td:not(:first-child) {
          font-weight: bold;
        }
      }
      tr:last-child {
        td:first-child {
          border-bottom-left-radius: $tailleArrondi;
        }
        td:last-child {
          border-bottom-right-radius: $tailleArrondi;
        }
      }
      tr:not(:first-child) td {
        text-align: center;
      }

      .propositionPerdante {
        background-color: #a8a8a8;
      }
      .casePleine,
      .propositionGagnante {
        background-color: $couleurPrincipale;
      }
    }
  }

  .pasDeVote{
    display:flex;
    flex-direction: column;
    align-items: center;

    > p{
      margin-top: 20px;
    }
  }
}
