#afficherResultats {
  #propositionTitle {
    width: 100%;
  }

  #description {
    text-align: justify;
  }

  #propositionSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;

    a {
      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }
    }

    .boite {
      min-width: calc(50% - 90px);
      text-align: center;
    }
  }

  #proposition {
    width: 80%;

    h2 {
      margin: 0 0 4px 0;
    }

    p {
      text-align: justify;
      margin: 0 0 4px 0;

      + h2 {
        margin-top: 8px;
      }
    }
  }
}

#resultats_vote {
  display: flex;
  flex-direction: column;
  width: 80%;

  input[type="submit"] {
    margin-top: 20px;
    align-self: center;
  }

  div {
    width: fit-content;
    border-radius: 5px;
    div {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & + div {
        margin-top: 20px;
      }

      label {
        margin: 5px 0 5px 10px;
        padding-right: 60px;

        @media screen and (max-width: 700px) {
          padding-right: 20px;
        }

        a {
          color: $couleurTexte;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      span {
        margin-right: 10px;
      }

      label,
      span {
        z-index: 1;
        font-size: 1.2rem;
      }

      .percentage_bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          to right,
          $couleurPrincipale 0%,
          $couleurPrincipale var(--percentage),
          $couleurFond var(--percentage),
          $couleurFond 100%
        );
      }
    }
  }
}
