#afficher-propositions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px;
  gap: 30px;

  .panel2 {
    padding: 0 20px 20px 20px;

    display: flex;
    flex-direction: column;

    .button {
      width: fit-content;
      align-self: center;
    }

    p {
      margin-top: 0;
    }

    img {
      border: $grisClair 3px solid;
      margin-top: 20px;
      border-radius: 10px;
      width: 200px;
      height: 200px;
      align-self: center;
    }
  }

  #afficher-propositions__top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;

    * {
      margin: 0;
    }

    span {
      font-size: 1.3rem;
      font-weight: bold;
      color: $couleurTexte2;
    }
  }

  #afficher-propositions__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  #afficher-propositions__selector {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .boite {
      min-width: 200px;
      display: flex;
      justify-content: center;
    }

    * {
      margin: 0;
    }

    img{
      z-index:1;
    }
  }

  #afficher-propositions__proposition__under {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    * {
      margin: 0;
    }

  }

  #afficher-propositions__boutons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
  }
}

#afficher-propositions__formulaire-vote {
  width:100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 0;
  }

  > p {
    margin-top: 5px;
    width:80%;
  }

  input[type="submit"] {
    margin-top: 20px;
    align-self: center;
  }

  .choix-proposition {
    display:grid;
    width:100%;
    grid-template-columns: 1fr auto;
    align-items: center;

    label {
      font-size: 1.2rem;
      margin: 7.5px 0;
      padding-right: 60px;
      word-break: break-word;

      @media screen and (max-width: 700px) {
        padding-right: 20px;
      }
    }
  }

  .voteAlternatif{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;

    > div{
      width: calc(50% - 30px);
    }

    .hide{
      display:none;
    }
    .box{
      display:flex;
      align-items: stretch;
      margin: 2px 0;
      min-height: 40px;

      > span{
        width: 40px;
        min-width: 40px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    }
    .item{
      display:flex;
      justify-content: space-between;
      align-items: center;
      background-color: $couleurFond3;
      cursor: grab;
      width: 100%;

      p, img{
        margin: 10px 5px;
      }
    }
    .source-container, .destination-container{
      width:100%;
      border: solid #767676 2px;
    }
    .source-container{
      .box > span{
        background-color: #A8A8A8;
      }
    }
    .destination-container{
      .box > span{
        background-color: $couleurPrincipale;
      }
    }
    .selected{
      border: solid $couleurPrincipale 2px;
    }

    @media screen and (max-width: 700px){
      flex-direction: column;

      > div{
        width:100%;
        margin: 20px 0;
      }
    }
  }
}