#afficher-resultats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px;
  gap: 30px;

  .panel2 {
    padding: 0 20px 20px 20px;

    display: flex;
    flex-direction: column;

    .button {
      width: fit-content;
      align-self: center;
    }

    p {
      margin-top: 0;
    }
  }

  #afficher-resultats__top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;

    * {
      margin: 0;
    }

    span {
      font-size: 1.3rem;
      font-weight: bold;
      color: $couleurTexte2;
    }
  }
}

#resultats-vote {
  display: flex;
  flex-direction: column;
  width: 80%;

  div {
    width: fit-content;
    border-radius: 5px;
    div {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & + div {
        margin-top: 20px;
      }

      label {
        margin: 5px 0 5px 10px;
        padding-right: 60px;

        @media screen and (max-width: 700px) {
          padding-right: 20px;
        }

        a {
          color: $couleurTexte;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      span {
        margin-right: 10px;
      }

      label,
      span {
        z-index: 1;
        font-size: 1.2rem;
      }

      .percentage_bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          to right,
          $couleurPrincipale 0%,
          $couleurPrincipale var(--percentage),
          $couleurFond var(--percentage),
          $couleurFond 100%
        );
      }
    }
  }
}
