#ecrirePropositionForm {
  .sectionTitle {
    margin-top: 25px;

    h2 {
      margin: 0;
      font-weight: normal;
    }
  }

  details {

    .titre-section {
      font-size: 1.3rem;
      font-weight: normal;
      margin: 5px 0;
    }

    .description-section p {
      margin: 5px 0;
      text-align: justify;
      background-color: $couleurFond3;
      padding: 10px;
      border-radius: 10px;
    }
    
  }
}
