#gererCoAuteursForm {
  #co_auteurs_input{
    select{
      max-width: 200px;
    }

    #add_co_auteur{
      grid-column: span 2;
      margin: 20px auto 0 auto;
    }

    @media screen and (min-width: 1000px){
      display:grid;
      grid-template-columns: 1fr 1fr;

      .conteneur_co_auteur:nth-child(2n) {
        justify-self: end;
      }
    }
  }
}