#liste-questions {
  align-items: stretch;

  @media screen and (max-width: 450px) {
    align-items: center;
  }

  #liste-questions__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;

    .barre-recherche {
      display: flex;
      justify-content: stretch;
      align-items: center;

      width: 40%;
      height: 40px;
      border-radius: 40px;
      background-color: $grisClair2;

      .menu-filtre {
        position: relative;
        margin-left: 7px;

        .bouton-ouvrir-filtres img {
          transform: translateY(2px);
        }

        .filtres {
          display: none;

          hyphens: none;
          white-space: nowrap;
          z-index: 1;
          
          grid-template-columns: auto auto auto auto;
          gap: 10px;
          width:min-content;

          justify-items: stretch;
          align-items: stretch;

          position: absolute;
          top: 50px;
          left: -15px;

          background-color: $couleurFond3;

          border: solid 3px $couleurPrincipale;
          border-radius: 10px;
          padding: 10px;

          label {
            margin: 0;
            padding: 0;
            font-size: 1rem;
          }

          .menu-filtre-4fr {
            grid-column: auto / span 4;
            font-weight: bold;
            font-size: 1.2rem;
          }

          input[type="submit"] {
            margin: 0;
            grid-column: 1 / span 4;
          }

          &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent $couleurPrincipale transparent;
            top: -15px;
            left: 12px;
          }

          #lien-tout-supprimer {
            position: absolute;
            top: 7px;
            right: 7px;
            font-size: 0.9rem;
          }
        }

        &:focus-within {
          .filtres {
            display: grid;
          }
        }
      }

      form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: stretch;
        align-items: center;

        input[type="text"] {
          background: none;
          border: none;
          color: #000;
          padding: 10px;
          font-size: 1.2rem;
        }

        #validation-search {
          background: none;
          border: none;
          color: #000;

          background-image: url("../assets/images/search.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 35px;
        }
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 10px;

      .barre-recherche {
        width: 100%;
      }
    }
  }

  #questions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

    margin: 20px;

    @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .pagination__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;

      background-color: $couleurFond3;
      border-radius: 50%;
      text-decoration: none;
      color: $couleurTexte;

      &:hover {
        background-color: $couleurFond2;
      }

      transition: background-color 0.2s ease-in-out;
    }

    .pagination__link--current {
      background-color: $couleurPrincipale;

      &:hover {
        background-color: $couleurPrincipale;
      }
    }

    .pagination__link--inactive {
      background-color: $couleurFond2;
    }
  }
}
