#listeQuestionsFinies{
  .question {
    text-align: justify;
    width: 100%;
    margin: 10px 0;

    .boite {
      height: 160px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      width: calc(100% - 26px);
      position: relative;

      div {
        width: 100%;
      }

      #date{
        font-size: 0.8rem;
        position: absolute;
        top: 0;
        right: 15px;
        color: rgb(168, 168, 168);
      }

      #organisateur{
        font-size: 0.8rem;
      }
    }
  }
}