#liste-questions {
  #liste-questions__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    padding: 20px;
    gap: 20px;

    .barre-recherche {
      display: flex;
      justify-content: stretch;

      width: 40%;
      height: 40px;
      border-radius: 40px;
      background-color: $grisClair2;

      form {
        width: 100%;
        display: flex;
        justify-content: stretch;
        align-items: center;

        input[type="text"] {
          background: none;
          border: none;
          color: #000;
          padding: 10px;
          font-size: 1.2rem;
        }

        input[type="submit"] {
          background: none;
          border: none;
          color: #000;

          background-image: url("../assets/images/search.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 35px;
        }
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 10px;

      .barre-recherche {
        width: 100%;
      }
    }
  }

  #questions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

    margin: 20px;
    width: calc(100% - 40px);

    @media screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .pagination__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;

      background-color: $couleurFond3;
      border-radius: 50%;
      text-decoration: none;
      color: $couleurTexte;

      &:hover {
        background-color: $couleurFond2;
      }

      transition: background-color 0.2s ease-in-out;
    }

    .pagination__link--current {
      background-color: $couleurPrincipale;

      &:hover {
        background-color: $couleurPrincipale;
      }
    }

    .pagination__link--inactive {
      background-color: $couleurFond2;
    }
  }
}
