.message, .errorMessage{
  /* glassmorphism */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;

  /* positionnement */
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* animation */
  animation: disappear 5s forwards;
  animation-delay: 2s;
}

.errorMessage{
  background: rgba(255, 122, 122, 0.2);
  border: 1px solid rgba(255, 122, 122, 0.3);
  color: $couleurRefuserSurvol;
}

@keyframes disappear {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}