#messagesFlash{
  /* positionnement */
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;
}

.message, .errorMessage{
  /* style */
  background-color: $couleurMessage;
  border: 2px solid darken($couleurMessage, 10%);
  border-radius: 7px;
  padding: 10px 20px;
  margin: 5px 0;
  box-shadow: 4px 4px 10px black;

  /* animation */
  animation: disappear 500ms forwards;
  animation-delay: 10s;
}

.errorMessage{
  background-color: $couleurRefuserSurvol;
  border-color: darken($couleurRefuserSurvol, 10%);
}

@keyframes disappear {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      display:none;
  }
}