#poserQuestion{
  #poser-question__top{
    width: 90%;
    margin: 0 5% 50px 5px;
    text-align: center;

    h2{
      margin: 10px 0 0 0;
    }
    p{
      margin: 5px 0;
    }
  }

  #progress-bar{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    height: 15px;
    border-radius: 50px;
    background-color: #787878;

    .progress-bar__step{

      &:first-child{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }

      &:last-child{
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }

      &:not(:last-child){
        border-right: solid $couleurFond 2px;
        width: calc(100% - 2px);
      }

      &.filling{
        background-color: $couleurPrincipale;
      }
    }
  }
  #tags_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    input[type=text]{
      width: 100px;
    }
  }

  #tags_list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 80%;


    .tag {
      background-color: #5B5958;
      border: solid #5B5958 5px;
      border-radius: 50px;
      padding-right: 5px;
      padding-left: 5px;
      display: flex;
      align-items: baseline;
      width: fit-content;
      cursor: default;
      gap: 5px;
    }

    strong{
      cursor: pointer;
    }
  }

  #poser-question__body{
    label{
      display:inline-block;
      margin: 15px 0 5px 0;
    }
  }

  #systemesDeVote{
    display:flex;
    flex-direction: column;
    align-items: center;

    input{
      display:none;

      span{

      }
    }

    label{
      border: solid #D9D9D9 3px;
      background-color: $couleurFond3;
      transform: scale(.85);
      transition: transform 125ms ease-in-out;
      padding: 20px;
      width: 80%;

      .systemesDeVote{
        &__titre{

        }
        &__description{
          display: inline-block;
          margin-top: 10px;
          padding-left: 20px;
          font-size: .8em;
        }
      }
    }

    input:checked + label{
      border-color: $couleurPrincipale;
      transform: scale(1);
    }
  }
}