.text_input_div {
    position: relative;
    text-align: center;
  }
  
  .indicateur_max_chars {
    font-size: 0.8rem;
    position: absolute;
    bottom: -16px;
    right: 0;
    color: rgb(168, 168, 168);
  }
  