.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    z-index: 2000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    transform: translateY(calc(50vh - 55%));

    @media screen and (max-height: 750px) {
        transform: translateY(0);
    }
    
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
    color: $couleurTexte;
    
    img {
        width: 20px;
        height: 20px;
    }
}



