.question-compact {
  display: flex;
  flex-direction: column;
  background-color: $couleurFond3;

  border: solid 3px $couleurPrincipale;
  border-radius: 10px;
  padding: 20px;
  width: calc(100% - 40px);
  height: 250px;

  .question-compact__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    a {
      text-decoration: none;
      color: $couleurTexte;
      font-weight: bold;
      font-size: 1.3rem;
      word-break: break-all;

      &:hover {
        text-decoration: underline;
      }
    }

    .question-compact__top__pfp {
      position: relative;

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: solid 1px black;
      }

      .pfp--self {
        border: solid 2px $couleurBordureSupprimer;
      }
    }
  }

  .question-compact__description {
    font-size: 1.1rem;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .question-compact__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    color: $couleurTexte2;
  }
}
