$couleurPrincipale: #E1603C;
$couleurPrincipaleSurvol: #B1482C;

$couleurFond: #1B1B1B;
$couleurFond2: #252525;
$couleurFond2_5: #2a2a2a;
$couleurFond3: #353535;

$grisClair : #a8a8a8;

$couleurTexte: white;
$couleurTexte2: #838383;

$couleurValider: #09B44D;
$couleurValiderSurvol: #069840;
$couleurRefuser: #E43C0E;
$couleurRefuserSurvol: #c2320b;
$couleurMessage: white;

$couleurBordureSupprimer:#FF2727;
$couleurBoutonSupprimer:#181818;
$couleurBoutonSupprimerSurvol:#2b2b2b;