$couleurPrincipale: #E1603C;
$couleurPrincipaleSurvol: #B1482C;

$couleurFond: #1B1B1B;
$couleurFond2: #252525;
$couleurFond3: #353535;

$couleurTexte: white;

$couleurValider: #09B44D;
$couleurValiderSurvol: #069840;
$couleurRefuser: #E43C0E;
$couleurRefuserSurvol: #c2320b;
$couleurMessage: white;