#modalSeConnecter {
    #seConnecterPanel {
        padding: 0 50px;
        width: fit-content;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0;
            
    
            label {
                align-self: flex-start;
                margin-bottom: 4px;
            }
            input[type="text"], input[type="password"] {
                background: none;
                margin: 0;
                width: calc(100% - 14px);
            }
    
            input[type="submit"] {
                margin-top: 20px;
            }
        }
    }
}



#creerComptePanel {
    
}