fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0;

  > textarea {
    max-width: 100%;
  }
}

input,
textarea {
  outline: none;
  background-color: $couleurFond3;
  border: solid 2px $couleurPrincipale;
  padding: 5px;
  font-size: 1rem;
}

textarea {
  background-color: $couleurFond3;
  width: calc(100% - 14px);
  resize: vertical;
  border: solid 2px $couleurPrincipale;
  padding: 5px;
  font-size: 1rem;
}

label {
  margin-top: 20px;
  font-size: 1.5em;
}

input[type="date"],
input[type="time"] {
  width: fit-content;
}

input[type="button"],
input[type="submit"],
button,
.button {
  background-color: $couleurPrincipale;
  border: none;
  border-radius: 4px;
  padding: 8px 25px;
  color: $couleurTexte;
  margin: 15px 0;

  &:hover {
    background-color: $couleurPrincipaleSurvol;
    cursor: pointer;
  }
  &:disabled {
    background-color: $couleurPrincipaleSurvol;
  }

  &.validerBtn {
    background-color: $couleurValider;

    &:hover {
      background-color: $couleurValiderSurvol;
    }
    &:disabled {
      background-color: $couleurValiderSurvol;
    }
  }
  &.refuserBtn {
    background-color: $couleurRefuser;

    &:hover {
      background-color: $couleurRefuserSurvol;
    }
    &:disabled {
      background-color: $couleurRefuserSurvol;
    }
  }
}

.conteneurDateHeure {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;

  div {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5px 0;

    span {
      display: flex;
      align-items: center;
    }
  }

  input {
    height: 20px;
    margin: 2.5px 10px;
  }
}

#sections_input {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  #add_section {
    height: 60px;
    width: 60px;
    padding: 0;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  @media screen and (max-width: 1200px) and (min-width: 751px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  fieldset {
    width: 90%;
  }
}
