$pointDeRupture : 650px;

header{

  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  align-items: center;


  input[type=checkbox]{
    display:none !important;
  }

  nav{
    position: relative;
    width: 55%;
    height: 50px;
    border: solid black 1px;
    border-radius: 10px;

    ul{
      padding: 0;
      margin: 0;
      height: 100%;
      display:flex;
      justify-content: stretch;

      li{
        background-color: $couleurPrincipale;
        display: flex;
        align-items: center;
        padding: 0;
        width:100%;
        transition: all 0.2s ease-in-out;

        &:not(:nth-last-child(0)){
          border-right: solid black 1px;
        }
        &:hover{
          background-color: $couleurPrincipaleSurvol;
        }
        a{
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          text-decoration: none;
          color: $couleurTexte;
          width:100%;
          height: 100%;

          font-weight: 500;
          font-size: 1.1em;
        }

        &:first-child{
          border-radius: 10px 0 0 10px;
        }

        &:nth-child(4) {
          border-radius: 0 10px 10px 0;
        }
      }

    }

    #activeMenu {
      background-color: $couleurPrincipaleSurvol;

      a{
        cursor:default;
      }
    }
  }

  #mobileMenu{
    display:none;
  }

  @media screen and (max-width: $pointDeRupture){
    margin-bottom: 90px;

    #mobileMenu{
      height: 45px;
      width:100%;
      background-color: $couleurPrincipale;
      display:flex;
      position: fixed;
      top: 0;

      #pfpMobile {
        display: flex;
        position: absolute;
        top: 3px;
        right: 20px;
        align-items: center;

        label:first-of-type{
          background-color: $couleurFond2_5;
          border: solid $couleurFond2_5;
          border-width: 2px 15px;
          border-radius: 5px;
          margin-right: -6px;
        }

        label{
          margin: 0;
          font-size: 1.1em;
          display: flex;
          align-items: center;
        }

        img {
          height: 35px;
          width: 35px;
          border-radius: 50%;
          border: solid $couleurFond2_5 3px;
        }
      }

      #fleches{
        background-color: $couleurFond2_5;
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        width: 15px;
      }

      #barreMenu{
        margin: 0;
        background-color: $couleurFond2_5;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        z-index: 3;

        img{
          height:30px;
        }
      }
    }

    nav, .menu_compte{
      z-index:1000;
      display:none;
      height: auto;
      margin: 0;
      position: fixed;
      width: calc(100% - 105px);
      max-width: 250px;
      border: none;
      border-radius: 0;
      top : 45px;
      left: 0;
      background-color: transparent;
      overflow: hidden;

      ul{
        background-color: $couleurFond2_5;
        flex-direction: column;
        padding-bottom: 5px;

        li{
          padding: 0;
          border: none !important;
          border-radius: 0;
          background-color: transparent;

          &:first-child, &:last-child{
            border-radius: 0;
          }

          a {
            height: calc(1.1em + 20px);
          }
        }
      }

      div{
        -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        width:100%;
        height: 30px;
        background-color: $couleurFond2_5;
      }
    }

    #mobileOpen:checked + #mobileMenu{
      label{
        width: calc(100% - 30px);
      }

      + nav{
        display:block;
      }
    }
  }
}

.menu_compte {
  display: flex;
  flex-direction: column;
  align-items: center;

  label{
    background: $couleurPrincipale;
    border: solid $couleurPrincipale;
    border-width: 2px 15px;
    border-radius: 5px;
    font-size: 1em;
    margin-top: -10px;
    cursor: pointer;
  }
  
  .bouton_ouvrir_compte {
    display: flex;
    content: "";
    width: 46px;
    height: 46px;
    background-color: $couleurPrincipale;
    border: solid $couleurPrincipale 3px;
    border-radius: 50%;

    img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  ul {
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
  
}

.menu_compte:focus-within {

  display: flex;
  flex-direction: column;

  .bouton_ouvrir_compte, label {
    background-color: $couleurPrincipaleSurvol;
    border-color: $couleurPrincipaleSurvol;
  }

  label + ul{
    top: 80px;
  }

  ul {
    display: flex;
    opacity: 1;
    flex-direction: column;
    position: absolute;
    top: 67px;
    width: 175px;
    height: fit-content;
    border-radius: 10px;
    z-index: 1000;

    li {
      display: flex;
      padding: 0;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: $couleurPrincipale;
      border-bottom: solid $couleurFond 2px;
      border-radius: 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      a {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: calc(1.1em + 20px);
        text-decoration: none;
        color: $couleurTexte;
        font-weight: 500;
        font-size: 1.1em;
      }

      &:hover {
        background-color: $couleurPrincipaleSurvol;
      }

      &:first-child {
        border-radius: 10px 10px 0 0;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 91px;
      border-width: 15px;
      border-style: solid;
      border-color: transparent transparent $couleurPrincipale transparent;
    }
  }

}

.onlyOnMobile {
  display: none;

  @media screen and (max-width: $pointDeRupture) {
    display: block;
  }
}