#roles_input {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  margin-bottom: 50px;
  gap: 10%;

  #votants_input,
  #redacteurs_input {
    display: flex;
    flex-direction: column;

    #remove_redacteur,
    #remove_votant {
      margin-top: 7px;
    }

    #add_redacteur,
    #add_votant {
      align-self: center;
    }

    select {
      /*max-width: 200px;*/
      width: calc(80% - 60px);
    }

    button {
      width: 50px;
      height: 30px;
      text-align: center;
      padding: 0;
      margin: 5px;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      margin-left: 0;

      select{
        width: calc(100% - 60px);
      }
    }
  }

  .conteneur_redacteur,
  .conteneur_votant {
    padding: 0;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

#co_auteurs_input {
  display: flex;
    flex-direction: column;

    #remove_redacteur,
    #remove_votant {
      margin-top: 7px;
    }

    #add_redacteur,
    #add_votant {
      margin-left: 65px;
    }

    button {
      width: 50px;
      height: 30px;
      text-align: center;
      padding: 0;
      margin: 5px;
    }
}