#sections_input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  
    #add_section {
      height: 60px;
      width: 60px;
      padding: 0;
      font-size: 2rem;
      align-self: center;
      justify-self: center;
      text-align: center;
    }
  
    @media screen and (max-width: 1200px) and (min-width: 801px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media screen and (max-width: 800px)  and (min-width: 581px){
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 580px){
      grid-template-columns: 2fr;
    }
  }