nav ul {
    list-style: none;
    margin: 0 20;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #d8842a;
    background-color: rgb(59, 59, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: 0.5s;
}

nav ul li a:hover {
    background: -webkit-linear-gradient(45deg, #2dd25a, #2d52d2 80%);
    color: white;
}

body {
    width: 600px;
}

footer p {
    border: 1px solid black;
    text-align: right;
    /* width:600px; */
    padding-right: 1em;
}

div.demande {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    animation: slideInFromRight 1s ease-in-out forwards;
    animation-delay: calc(0.3s * var(--order));
    transform: translateX(50%);
    opacity: 0;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.boutons {
    display: flex;
    justify-content: space-around;
}

.boutons a {
    display: block;
    text-decoration: none;
    padding: 2px;
    color: #d8842a;
    background-color: rgb(59, 59, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: 0.5s;
}

.boutons a:hover {
    background: -webkit-linear-gradient(45deg, #d22da5, #d2ad2d 80%);
    color: white;
}

label {
    display: block;
    margin-bottom: 1em;
}

textarea {
    display: block;
    resize: none;
}

fieldset {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
}

footer p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
